@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  .glassEffect {
    @apply border-2 shadow-md text-black/40 border-gray-100/30 bg-blue-100/30 rounded-xl backdrop-blur-sm sm:rounded-3xl;
  }
  .moreInfoButton {
    @apply shadow-[inset_3px_3px_6px_#e5e7eb,inset_-3px_-3px_6px_#ffffff] bg-white;
  }
  .moreInfoButtonActive {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    /* box-shadow: 3px 3px 6px #d9d9d9, -3px -3px 6px #ffffff; */
  }
}
:root {
  --main-bg: #fff;
  --modal-bg: #fff;
  --hover-modal-bg: #e6e6e6;
  --primary-color: #282828;
  --secondary-color: #282828;
  --skeletonFirstColor: #f3f4f6;
  --skeletonSecondColor: #e5e7eb;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: #282828;
    --modal-bg: #4e4e4e;
    --hover-modal-bg: #999999;
    --primary-color: #fff;
    --secondary-color: #747474;
    --skeletonFirstColor: #4e4e4e;
    --skeletonSecondColor: #747474;
  }
}
body {
  @apply bg-main-bg;
}
body.light {
  --main-bg: #fff;
  --modal-bg: #fff;
  --hover-modal-bg: #e6e6e6;
  --primary-color: #282828;
  --secondary-color: #282828;
  --skeletonFirstColor: #f3f4f6;
  --skeletonSecondColor: #e5e7eb;
}
/* ========== HEADER SKELETON ========== */
.headerSkeletonWrapper {
  @apply fixed z-20 top-0 left-0 w-full py-3 px-[3%] sm:px-[5%] lg:px-[10%] xl:px-[15%];
}
.headerSkeleton {
  @apply flex items-center justify-between w-full gap-3 px-4 py-2 bg-[--skeletonFirstColor] md:px-8 md:py-3 rounded-xl sm:rounded-3xl;
}
.headerSkeletonLinks {
  @apply flex items-center gap-3;
}
.headerSkeletonLink {
  @apply w-8 h-8 bg-[--skeletonSecondColor] rounded-md md:h-6 md:w-12;
}
.headerSkeletonLink:nth-child(2) {
  @apply hidden md:flex;
}
.headerSkeletonLink:nth-child(3) {
  @apply hidden md:flex;
}
.headerSkeletonAdds {
  @apply flex items-center w-full gap-3 sm:w-auto sm:gap-5;
}
.headerSkeletonThemeSwitcher {
  @apply hidden sm:flex h-6 bg-[--skeletonSecondColor] rounded-xl w-[50px];
}
.headerSkeletonSearch {
  @apply w-full sm:w-[50vw] md:w-[30vw] lg:w-[25vw] h-8 rounded-md bg-[--skeletonSecondColor];
}
.headerSkeletonAvatar {
  @apply w-8 h-8 bg-[--skeletonSecondColor] rounded-md;
}
/* ========== POSTS SKELETON ========== */
.postsSkeletonTitle {
  @apply h-8 bg-[--skeletonFirstColor] w-36 rounded-xl;
}
.postsSkeletonList {
  @apply grid grid-cols-1 gap-3 pt-2 sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-4;
}
.postSkeleton {
  @apply w-full bg-[--skeletonFirstColor] rounded-xl;
}
.postSkeletonImg {
  @apply w-full bg-[--skeletonSecondColor] h-96 rounded-xl sm:h-60;
}
.postSkeletonTitle {
  @apply w-3/4 h-8 mt-2 bg-[--skeletonSecondColor] rounded-xl ml-3 mr-3;
}
.postSkeletonAdds {
  @apply flex items-center justify-between w-full p-3;
}
.postSkeletonAddInfo {
  @apply w-10 h-6 bg-[--skeletonSecondColor] rounded-xl;
}
.dashboardSkeleton {
}
.dashboardSkeletonBreadCrumbs {
  @apply h-9 rounded-xl bg-[--skeletonFirstColor] my-5 flex items-center gap-2 py-1 px-5 w-[208px];
}
.dashboardSkeletonCrumb {
  @apply w-[80px] rounded-md h-6 bg-[--skeletonSecondColor];
}
.dashboardSkeletonButtons {
  @apply grid grid-cols-1 gap-1 px-5 py-2 md:gap-3 sm:grid-cols-2 lg:grid-cols-4 bg-[--skeletonFirstColor] rounded-3xl;
}
.dashboardSkeletonButton {
  @apply w-full rounded-md bg-[--skeletonSecondColor] h-[44px];
}
.dashboardSkeletonEditor {
  @apply h-[512px] mt-8 rounded-3xl bg-[--skeletonFirstColor] flex items-center justify-center;
}
.dashboardSkeletonLoader {
  @apply w-20 h-20 rounded-full border-8 border-[--skeletonSecondColor] border-t-blue-500 animate-spin;
}

.imageUploaderSkeleton-wrapper {
  @apply flex flex-col w-full gap-5 sm:w-[144px] xl:w-[200px] 2xl:w-[400px];
}
.imageUploaderSkeleton-image {
  @apply border-2 border-blue-100 border-dashed h-[400px] sm:h-[144px] xl:h-[200px] 2xl:h-[400px] rounded-xl flex items-center justify-center;
}
.imageUploaderSkeleton-info {
  @apply flex flex-col gap-1;
}
.imageUploaderSkeleton-button {
  @apply w-full bg-[--skeletonFirstColor] h-10 rounded-md flex items-center justify-center;
}
.imageUploaderSkeleton-title {
  @apply w-20 h-5 rounded-md bg-[--skeletonFirstColor] mx-auto;
}

.smallLoader-w-6 {
  @apply w-6 h-6 rounded-full border-4 border-[--skeletonSecondColor] border-t-blue-500 animate-spin;
}
.smallLoader-w-8 {
  @apply w-8 h-8 rounded-full border-4 border-[--skeletonSecondColor] border-t-blue-500 animate-spin;
}

div.customUploadThingButton label {
  @apply w-full bg-blue-500;
}

.transparentToWhite::before {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    274deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0.03125) 100%
  );
}
